<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>title</title>
    <script type="text/javascript" src="jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="ooiservices.js"></script>
  </head>
  <body>
      <br><br>
    <button onclick="getArrays()">Array!</button>
    <button onclick="getPlatform('AA00AAAA-AACCC')">Platform!</button>
    <button onclick="getInstrument('00-CCCCCA000')">Instrument!</button>
    <button onclick="getPlatform('BB00BBBB-BBDDD')">Test 204!</button>
  </body>
</html>