ENV_NAME: 'LOCAL_DEVELOPMENT'

COMMON: &common
    LOGGING: True
    LOG_FILE_PTAH: '/logs/'
    LOG_FILE: 'ooiservices.log'
    SECRET_KEY: 'ccdf5de08ac74855bda3e7e309d871e5'
    SSL_DISABLE: False
    SQLALCHEMY_COMMIT_ON_TEARDOWN: True
    SQLALCHEMY_RECORD_QUERIES: True
    OOI_SLOW_DB_QUERY_TIME: 0.5
    HOST: localhost
    PORT: 4000
    JSONIFY_PRETTYPRINT_REGULAR: true
    UFRAME_URL: 'http://localhost:12575'
    UFRAME_ASSETS_URL: 'http://localhost:12573'
    UFRAME_ANNOTATION_URL : 'http://localhost:12580'
    UFRAME_ANNOTATION_BASE: '/annotations'
    UFRAME_URL_BASE: '/sensor/inv'
    UFRAME_TOC: '/sensor/inv/toc'
    UFRAME_INST_URL: 'http://localhost:12572'
    UFRAME_INST_BASE: '/instrument/api'
    UFRAME_PLAT_BASE: '/platform/api'
    UFRAME_TIMEOUT_CONNECT: 5
    UFRAME_TIMEOUT_READ: 30
    UFRAME_ALERTS_URL: 'http://localhost:12577'
    REDMINE_KEY: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    UI_API_KEY: xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    REDMINE_URL: 'https://uframe-cm.ooi.rutgers.edu'
    REDMINE_PROJECT_ID: 'ocean-observatory' #'ooi-ui-api-testing'
    WHOOSH_BASE: 'ooiservices/whoosh_index'
    REDIS_URL: 'redis://:password@localhost:6379'
    DEPLOYMENT_SCENARIO: LOCAL_DEVELOPMENT
    UFRAME_DATA_REQUEST_LIMIT: 2880
    GOOGLE_ANALYTICS_URL: 'https://www.google-analytics.com/collect?v=1&tid=UA-50606390-3&cid=1&t=event'
    DATA_POINTS: 1000

DEVELOPMENT: &development
    <<: *common
    DEBUG: True
    SQLALCHEMY_DATABASE_URI: 'postgres://user:password@hostname/database_name'
    SSL_DISABLE: True
    WTF_CSRF_ENABLED: False

LOCAL_DEVELOPMENT: &local_dev
    <<: *common
    DEBUG: True
    SQLALCHEMY_DATABASE_URI: 'postgres://postgres:postgres@localhost/ooiuidev'
    SSL_DISABLE: True
    WTF_CSRF_ENABLED: False

TESTING_CONFIG: &testing
    <<: *common
    TESTING: True
    SQLALCHEMY_DATABASE_URI: 'postgres://postgres:postgres@localhost/ooiuitest'
    WTF_CSRF_ENABLED: False

PRODUCTION: &production
    <<: *common
    SQLALCHEMY_DATABASE_URI: 'postgres://user:password@hostname/database_name'
    SSL_DISABLE: True
    WTF_CSRF_ENABLED: False
