ENV_NAME: 'LOCAL_DEVELOPMENT'

COMMON: &common
    LOGGING: True
    LOG_FILE_PTAH: '/logs/'
    LOG_FILE: 'ooiservices.log'
    SECRET_KEY: 'ccdf5de08ac74855bda3e7e309d871e5'
    SSL_DISABLE: False
    SQLALCHEMY_COMMIT_ON_TEARDOWN: True
    SQLALCHEMY_RECORD_QUERIES: True
    OOI_SLOW_DB_QUERY_TIME: 0.5
    HOST: localhost
    PORT: 4000
    JSONIFY_PRETTYPRINT_REGULAR: true
    UFRAME_URL: 'http://localhost:12570'
    UFRAME_ASSETS_URL: 'http://localhost:12573'
    UFRAME_URL_BASE: '/sensor/inv'
    REDMINE_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    UI_API_KEY: XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX
    REDMINE_URL: 'https://uframe-cm.ooi.rutgers.edu'
    REDMINE_PROJECT_ID: 'ooi-ui-api-testing'
    WHOOSH_BASE: 'ooiservices/whoosh_index'
    REDIS_URL: 'redis://:password@localhost:6379'
    DEPLOYMENT_SCENARIO: LOCAL_DEVELOPMENT

DEVELOPMENT: &development
    <<: *common
    DEBUG: True
    SQLALCHEMY_DATABASE_URI: 'postgres://user:password@hostname/database_name'
    SSL_DISABLE: True
    WTF_CSRF_ENABLED: False

LOCAL_DEVELOPMENT: &local_dev
    <<: *common
    DEBUG: True
    SQLALCHEMY_DATABASE_URI: 'postgres://postgres:postgres@localhost/ooiuidev'
    SSL_DISABLE: True
    WTF_CSRF_ENABLED: False

TESTING_CONFIG: &testing
    <<: *common
    TESTING: True
    SQLALCHEMY_DATABASE_URI: 'postgres://postgres:postgres@localhost/ooiuitest'
    WTF_CSRF_ENABLED: False

PRODUCTION: &production
    <<: *common
    SQLALCHEMY_DATABASE_URI: 'postgres://user:password@hostname/database_name'
    SSL_DISABLE: True
    WTF_CSRF_ENABLED: False
